In [2]:
import pandas as pd
train = pd.read_csv("train.tsv", sep="\t", index_col=0) # 学習用データ
test = pd.read_csv("test.tsv", sep="\t", index_col=0)   # 評価用データ
sample_submit = pd.read_csv("sample_submit.tsv", sep="\t", index_col=0, header=None) # 応募用サンプルファイル

In [3]:
train.head()

    survived  pclass     sex   age  sibsp  parch     fare embarked
id
3          1       1  female  35.0      1      0  53.1000        S
4          0       3    male  35.0      0      0   8.0500        S
7          0       3    male   2.0      3      1  21.0750        S
9          1       2  female  14.0      1      0  30.0708        C
11         1       1  female  58.0      0      0  26.5500        S

In [4]:
train.describe()

         survived      pclass         age       sibsp       parch        fare
count  445.000000  445.000000  360.000000  445.000000  445.000000  445.000000
mean     0.402247    2.296629   29.211583    0.546067    0.431461   33.959971
std      0.490903    0.834024   14.154300    1.195247    0.850489   52.079492
min      0.000000    1.000000    0.670000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.000000    0.000000    0.000000    7.925000
50%      0.000000    3.000000   28.000000    0.000000    0.000000   15.000000
75%      1.000000    3.000000   37.250000    1.000000    1.000000   31.387500
max      1.000000    3.000000   80.000000    8.000000    5.000000  512.329200

性別と乗船した港をdummy変数化して、目的変数と各カラムとの相関係数を見てみる
相関係数が正であれば、目的変数に対して正の影響がある
負であればその逆

In [5]:
pd.get_dummies(train).corrwith(train["survived"])

survived      1.000000
pclass       -0.358097
age          -0.081394
sibsp        -0.045087
parch         0.079669
fare          0.258605
sex_female    0.559465
sex_male     -0.559465
embarked_C    0.182568
embarked_Q    0.005062
embarked_S   -0.172769
dtype: float64

In [7]:
train[['pclass','survived']].groupby(['pclass']).mean()

        survived
pclass
1       0.685185
2       0.443299
3       0.258333

In [11]:
data = pd.concat([train, test])

In [18]:
data['age'] = data['age'].fillna(data['age'].mean())
data['embarked'] = data['embarked'].fillna(data['embarked'].mode())
data = pd.get_dummies(data)

一緒にして前処理していたtrainとtestのデータを分割する

In [20]:
train = data.loc[train.index]
test = data.loc[test.index]
test = test.drop(['survived'],axis=1)

In [21]:
y = train['survived']
X = train.drop(['survived'],axis=1)

In [22]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X, y)

c:\Users\1573207\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [23]:
pred = model.predict_proba(test)[:, 1]

In [24]:
sample_submit[1] = pred
sample_submit.to_csv('submit.tsv', header=None, sep='\t')